<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title> Hoboken Curbside </title>
  </head>

  <body>
    <main>
      {{{body}}}
    </main>
  </body>

  <footer>Katelyn Chen | Zirui He | Agatha Malinowski | Bonnie Nguyen | Aparna
    Sripal</footer>

</html>