body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(182, 182, 245);
  background: linear-gradient(180deg, rgb(181, 181, 224) 0%, rgba(244, 248, 249, 1) 100%);
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.login-box p {
  color: #fff;
  font-size: 10px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  color: #fff;
}
.login-box .login-field {
  position: relative;
}
.login-box .login-field input {
  width: 80%;
  padding: 10px 0;
  font-size: 12px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .login-field label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 5px 0;
  font-size: 220px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.login-box .login-field input:focus ~ label,
.login-box .login-field input:valid ~ label {
  top: -15px;
  left: 0;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.login-box button {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

