<h1>Hoboken Curbside</h1>
    <div>
        <p>A place for furniture & household items that have no home.</p>

        {{#if posts}}
            <table>
                <tr>
                    <th>Item</th>
                    <th>Item Description</th>
                    <th>Item Location</th>
                    <th>Poster</th>
                </tr>
                {{#each posts}}
                <tr>
                    <th>{{title}}</th>
                    <th>{{description}}</th>
                    <th>{{location}}</th>
                    <th>{{poster.name}}</th>
                </tr>
                {{/each}}
            </table>
        {{/if}}

        <form method="POST" action="/search" id="search-form">
        
            <div>
                <label for="search_item">Search Item:</label>
                <input type="text" name="search_item" id="search_item"/>
            </div>

            <button type="submit" value="submit">Search</button>
        </form>

        <a href="/login">Click here to login</a>
    </div>