<h1>Make A Post!</h1>
    <div>
        
        {{!-- {{#if error}}
            <div id="error">
                <p>{{ error }}</p>
            </div>
        {{/if}} --}}

        <form method="POST" action="/posting" id="posting-form">

            <div>
                <label for="title">Item Name:</label>
                <input type="text" name="title" id="title"/>
            </div>

            <div>
                <label for="description">Item Description:</label>
                <input type="text" name="description" id="description"/>
            </div>
            
            <div>
                <label for="item_type">Item Category:</label>
                <input type="text" name="item_type" id="item_type"/>
            </div>

            <div>
                <label for="item_image">Item Image:</label>
                <input type="file" name="item_image" id="item_image"/>
            </div>

            <div>
                <label for="item_location">Item Location:</label>
                <input type="text" name="item_location" id="item_location"/>
            </div>


            
            <button type="submit" value="submit">Post</button>
        </form>

        <a href="/private">Go back to user page.</a>
    </div>