<h1>User Info</h1>
<p>{{user.username}}</p>
<p>Posts Made By the User:</p>
{{#if userPost}}
    <table>
        {{#each userPost}}
            <tr>
                <th>
                    <a href="/onePost">
                    <img src={{imageFile}}>
                    </a>
                </th>
            </tr>
            {{/each}}
        </table>
        {{/if}}
<a href="/">Back to Home Page</a>
<a href="/logout">Logout</a>
<a href="/posting">Click here to make a post</a>